@{
    ViewData["Title"] = "Painel Administrador";
}

    <section class="ftco-section contact-section ftco-degree-bg">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-12 mb-4">
                    <h2 class="h4">Painel Administrador</h2>
                </div>
            </div>
            <div class="row block-9">
                <div class="col-md-12 pr-md-5">
                    <a asp-controller="Usuario" asp-action="Especialistas" class="m-4">Gerenciar Especialistas</a>
                    <a asp-controller="Usuario" asp-action="Secretarios" class="m-4">Gerenciar Secretários</a>
                    <a asp-controller="Usuario" asp-action="Pacientes" class="m-4">Gerenciar Pacientes</a>
                    <a asp-controller="Especialidade" asp-action="Index" class="m-4">Gerenciar Especialidades</a>
                    <a asp-controller="Clinica" asp-action="Index" class="m-4">Gerenciar Clínica</a>
                    <a asp-controller="Cidade" asp-action="Index" class="m-4">Gerenciar CIDs</a>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2>Subcribe to our Newsletter</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                        <div class="row d-flex justify-content-center mt-5">
                            <div class="col-md-8">
                                <form action="#" class="subscribe-form">
                                    <div class="form-group d-flex">
                                        <input type="text" class="form-control" placeholder="Enter email address">
                                        <input type="submit" value="Subscribe" class="submit px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @section Scripts{
        <script src="~/js/Paginas/usuario_cadastrar.js"></script>
    }
