@{
    ViewData["Title"] = "Especialistas";
}


<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex contact-info">
            <div class="col-12 col-md-12">
                <h2 class="h4">Pacientes</h2>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-12 text-right py-3">
                <a asp-controller="Usuario" asp-action="Cadastrar" class="btn  py-2 px-3 btn-sm btn-primary btn-outline-primary">Adicionar</a>
            </div>
            <div class="col-md-12 pr-md-5">
                @if (((List<PacienteModel>)ViewData["pacientes"]).Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-4">
                                    Nome
                                </th>
                                <th class="col-4">
                                    Email
                                </th>
                                <th class="col-2">
                                    CRM
                                </th>
                                <th class="col-1">
                                    Status
                                </th>
                                <th class="col-1 text-right">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ((List<PacienteModel>)ViewData["pacientes"]))
                            {
                            <tr class="itemLista d-flex" data-item="@item.Codigo">
                                <td class="col-4 dadosItem">
                                    @item.Nome
                                </td>
                                <td class="col-4 dadosItem">
                                    @item.Email
                                </td>
                                <td class="col-2 dadosItem">
                                    @item.Cpf
                                </td>
                                <td class="col-1 dadosItem">
                                    Ativo
                                </td>
                                <td class="col-1 text-right acaoItem">
                                    <a class="cursor-pointer small btnEditar">Editar</a>
                                    <a class="cursor-pointer small btnRemover">Remover</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h6>Não há especialidades cadastradas. <button id="btnAdicionar" class="btn btn-sm btn-outline-primary">Adicionar</button></h6>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/Paginas/especialidade.js"></script>
}
