#calendario {
  background-color: #FAFAFA;
}
#calendario #cabecalho {
  background-color: #FFFFFF;
  line-height: 5vh;
  text-align: center;
  vertical-align: middle;
}
#calendario #cabecalho #mes {
  display: flex;
  padding: 5px 0px;
  text-align: center;
  width: 100%;
}
#calendario #cabecalho #mes .btnAnterior, #calendario #cabecalho #mes .btnProximo {
  cursor: pointer;
}
#calendario #cabecalho #mes .nome-mes {
  font-size: 14pt;
}
#calendario #cabecalho #semana {
  display: flex;
  width: 100%;
}
#calendario #cabecalho #semana .nome-dia {
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #DCDCDC;
  flex-basis: calc(100% / 7);
  height: 5vh;
  width: calc(100% / 7);
}
#calendario #cabecalho #semana .nome-dia:nth-child(7n) {
  border-right: 0px;
}
#calendario #corpo {
  display: flex;
}
#calendario #corpo .dia-semana {
  border-bottom: 1px solid #F5F5F5;
  border-right: 1px solid #DCDCDC;
  cursor: pointer;
  flex-basis: calc(100% / 7);
  height: 15vh;
  position: relative;
  width: calc(100% / 7);
}
#calendario #corpo .dia-semana::before {
  background-color: #C2DBF5;
  content: " ";
  display: block;
  height: attr(data-ocupacao px);
  position: absolute;
  right: 0px;
  top: 0;
  width: 100%;
}
#calendario #corpo .dia-semana::after {
  color: #999;
  content: attr(data-dia);
  display: block;
  position: absolute;
  right: 2px;
  top: 0;
}
#calendario #corpo .dia-semana:nth-child(7n+1) {
  background-color: #EFEFEF;
}
#calendario #corpo .dia-semana:nth-child(7n) {
  border-right: 0px;
  background-color: #EFEFEF;
}
#calendario #corpo .dia-semana:hover {
  background-color: #D0D8FF;
  color: #333333;
}
#calendario #corpo .dia-semana.ativo {
  background-color: #B8AFF7;
}

#detalhes #cabecalho #dia {
  padding: 5px 0px;
}
#detalhes #cabecalho #dia .nome-dia {
  font-size: 14pt;
}
#detalhes #cabecalho #status {
  text-align: center;
  height: 5vh;
}
#detalhes #horario {
  background-color: #FAFAFA;
  display: flex;
  height: calc(15vh * 5);
  overflow: auto;
}
#detalhes #horario .hora {
  border-bottom: 1px solid #F5F5F5;
  cursor: pointer;
  flex-basis: 100%;
  height: 15vh;
  position: relative;
  width: 100%;
}
#detalhes #horario .hora::after {
  color: #999;
  content: attr(data-horario);
  display: block;
  position: absolute;
  right: 2px;
  top: 0;
}
#detalhes #horario .hora:last-child {
  border-bottom: 0px;
}
#detalhes #horario .hora:hover {
  color: #333333;
}
#detalhes #horario .hora.ativo {
  height: 70%;
  background-color: #ebdbf3;
}
#detalhes #horario .hora.ativo:after {
  content: none;
}
#detalhes #horario .hora.ativo .meia-hora:not(.ativo) {
  height: 0%;
}
#detalhes #horario .hora .meia-hora {
  border-bottom: 1px solid #F5F5F5;
  height: 50%;
}
#detalhes #horario .hora .meia-hora:last-child {
  border-bottom: 0px;
}
#detalhes #horario .hora .meia-hora:hover {
  background-color: #D0D8FF;
  height: 50%;
  width: 100%;
}
#detalhes #horario .hora .meia-hora.ativo {
  height: 100%;
  background-color: #ebdbf3;
}

/*# sourceMappingURL=agenda.css.map */
